.card-hover {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.card-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    overflow-y: scroll;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.card-hover:hover .card-info {
    opacity: 1;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}